aiofiles
albucore
albumentations
annotated-types
anyio
asttokens
audioop-lts
blinker
Brotli
certifi
charset-normalizer
click
colorama
comm
contourpy
cycler
debugpy
decorator
distro
exceptiongroup
executing
fastapi
ffmpy
filelock
Flask
fonttools
fsspec
gradio
gradio_client
groovy
gunicorn
h11
httpcore
httpx
huggingface-hub
idna
imageio
importlib_metadata
ipykernel
ipython
ipython_pygments_lexers
itsdangerous
jedi
Jinja2
jiter
joblib
jupyter_client
jupyter_core
kiwisolver
lazy_loader
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mpmath
nest_asyncio
networkx
numpy
openai
opencv-python
opencv-python-headless
orjson
packaging
pandas
parso
pickleshare
pillow
platformdirs
prompt_toolkit
psutil
pure_eval
pydantic
pydantic_core
pydub
Pygments
pyparsing
python-dateutil
python-multipart
pytz
pywin32
PyYAML
pyzmq
requests
rich
ruff
safehttpx
safetensors
scikit-image
scikit-learn
scipy
semantic-version
setuptools
shellingham
simsimd
six
sniffio
stack_data
starlette
stringzilla
sympy
threadpoolctl
tifffile
timm
tomlkit
torch
torchaudio
torchvision
tornado
tqdm
traitlets
typer
typing-inspection
typing_extensions
tzdata
urllib3
uvicorn
wcwidth
websockets
Werkzeug
wheel
zipp
